crash-reports/
downloads/
emojiful/
ESM/
fancymenu_data/
local/
logs/
modernfix/
saves/
schematics/
.curseclient
minecraftinstance.json
options.txt
patchouli_data.json
rhino.local.properties
TrashSlotSaveState.json
usercache.json
usernamecache.json
user-prefs.json